.codetalk-views {
    margin-top: -20px;
}

.navbar-default {
    background-color: #ffffff;
    border-bottom: 1px solid #FF6600;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 1px #FF9900;
    -moz-box-shadow: 0px 1px 1px #FF9900;
    box-shadow: 0px 1px 1px #FF9900;
}

.navbar-logo {
    bottom: 10px;
    margin-right: 5px;
}

.navbar-brand-codetalk {
    display: inline;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.fa-stack-2x {
	color: #bbbbbb;
}

.fa-stack-1x {
	color: #FF6600;
}

.mainFeature {
	background-color: #FF9900;
	padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid #FF6600;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 1px #FF9900;
    -moz-box-shadow: 0px 1px 1px #FF9900;
    box-shadow: 0px 1px 1px #FF9900;
}

.jumbotron {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.jumbotron > p {
    font-size: 17px;
    font-weight: 300;
}

.jumboList {
    list-style: none;
    font-size: 20px;
    margin-top: 25px;
}

.secondFeature {
	/*background-color: #ebebeb;*/
	padding-top: 50px;
}

.featureRow {
	padding-bottom: 50px
}

.stackFeature {
	font-size: 100px;
	margin-top: 0px;
}

.cogsFeature {
	font-size: 120px;
	color: #FF6600;
	margin-top: 40px;
}

.commentFeature {
	color: #bbbbbb;
	font-size: 200px;
}

.featureHeader1 {
	margin-top: 70px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 34px;
}

.featureHeader2 {
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 34px;	
}

.featureHeader3 {
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 34px;
}

.featureText {
    margin-top: 15px;
    font-size: 17px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.signInAlert {
    display: inline;
    padding: 8px;
    margin-right: 10px;
}