/* Gradient Colors: #FF6600 & #FF9900 */

html, 
body {

	height: 100%;

	background: rgba(255,102,0,1);
	background: -moz-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,102,0,1)), color-stop(0%, rgba(255,153,0,1)), color-stop(0%, rgba(255,153,0,1)), color-stop(0%, rgba(255,102,0,1)), color-stop(100%, rgba(255,153,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,153,0,1) 0%, rgba(255,102,0,1) 0%, rgba(255,153,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff9900', GradientType=0 );

	font-family: 'Roboto', sans-serif;

	text-align: center;
}

.container {
	width: 970px !important;
}

#appTitle {
	font-weight: 200;
	font-size: 86px;
}

.subTitle {
	font-weight: 300;
	font-size: 28px;
}

#loginWrapper {
	text-align: center;
	color: white;
	margin-top: 200px;
}

#formContainer {
	padding-top: 50px;
	
	text-align: center;
	margin: 0 auto;
}

#failedLogin {
	margin-top: 75px;
}

.btn-login {
	margin-top: 30px;
	padding-right: 60px;
	padding-left: 60px;
}

@media (max-width: 430px) {
	#appTitle {
		font-size: 64px;
	}
}
