<div class="container mainGroupItemSection" ng-controller="SingleGroupCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="ct-header-title" ng-cloak>
                <div class="btn-group pull-left">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteGroupModal"><i class="fa fa-times"></i>&nbsp;&nbsp;Leave Group</button>
                </div>
                {{currentGroup}}
                <div class="btn-group pull-right">
                    <button class="btn btn-warning" data-toggle="modal" data-target="#inviteFriendsModal">Invite Friend</button>
                    <button class="btn btn-warning">Make Public</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div class="ct-column-title">Code
                <div class="codeTip">
                    <p style="display: inline; margin-right: -150px;">Select code when adding a note!</p>
                    <button type="button" class="btn btn-info pull-right" style="margin-top: -15px;" ng-hide="codeLocked" ng-cloak ng-click="saveLockCode()"> <i class="fa fa-spinner fa-spin" ng-show="saveLoader"></i>&nbsp;Save & Lock Code</button>
                    <button type="button" class="btn btn-info pull-right" style="margin-top: -15px;" ng-show="codeLocked && isUserAdmin" ng-cloak ng-click="unlockCode()"> <i class="fa fa-spinner fa-spin" ng-show="saveLoader"></i>&nbsp;Unlock Code</button>
                </div>
            </div>
            <div id="code-editor"></div>
        </div>
        <div class="col-xs-2 notesSection">
            <div class="ct-column-title" style="margin-top: 20px;">Talk</div>
            <button class="btn btn-success btn-full-width" data-toggle="modal" data-target="#addNoteModal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Note</button>
            <button class="btn btn-success btn-full-width" ng-click="testBtn()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Test BTN</button>
            <div class="panel panel-default" style="margin-top: 30px;">
                <div class="list-group">
                    <a class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">Note Title</h4>
                        <p class="list-group-item-text">Note Description</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">Note Title</h4>
                        <p class="list-group-item-text">Note Description</p>
                    </a>
                    <a class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">Note Title</h4>
                        <p class="list-group-item-text">Note Description</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true" ng-controller="AddNoteCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="addNoteModalLabel">Add Note in {{currentGroup}}</h4>
                </div>
                <div class="modal-body modal-addNote">
                    <div class="alert alert-groups {{groupsAlert.alertType}}" ng-show="groupsAlert.isShown">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert()">&times;</button>
                        {{groupsAlert.message}}
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label for="noteInputTitle">Title</label>
                            <input type="text" class="form-control" id="noteInputTitle" placeholder="Title goes here" ng-model="newNote.noteTitle"/>
                        </div>
                        <div class="form-group">
                            <label for="noteInputContent">Content</label>
                            <textarea id="noteInputContent" class="form-control" rows="4" placeholder="Type your note here" ng-model="newNote.noteContent"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="modal-code-editor" id="codeSelectionLabel">Code Selection</label>
                            <div id="modal-code-editor"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addNote()">Add Note</button>
                </div>
            </div>
        </div>
    </div>



</div>

<!--Invite Friends Modal-->

<div class="modal fade" id="inviteFriendsModal" tabindex="-1" role="dialog" aria-labelledby="inviteFriendsModalLabel" aria-hidden="true" ng-controller="InviteFriendsCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="inviteFriendsModalLabel">Invite Friends</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Group Modal-->

<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel" aria-hidden="true" ng-controller="DeleteGroupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteGroupModalLabel">Delete Group</h4>
            </div>
            <div class="modal-body modal-confirmDelete">
                <div class="alert alert-danger alert-dismissable" role="alert" ng-show="true">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Warning!</strong> You are about to delete this group and all of its contents.
                </div>
                <div class="alert alert-groups {{groupsAlert.alertType}}" ng-show="groupsAlert.isShown">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert()">&times;</button>
                    {{groupsAlert.message}}
                </div>
                <form role="form">
                    <div class="form-group">
                        <label for="confimGroupName">Insert the Group name to Delete</label>
                        <input type="text" class="form-control" id="confimGroupName" ng-model="deleteGroupConfirm"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteGroup()">Leave Group</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!--<script src="codetalk-scripts/editor.js"></script>-->