<div class="container mainGroupsSection" ng-controller="GroupsCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="ct-column-title">
                Create or Join a Group
            </div>
            <div class="groupsPanel">
                <div class="alert alert-groups {{groupsAlert.alertType}}" ng-show="groupsAlert.isShown">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert()">&times;</button>
                    {{groupsAlert.message}}
                </div>
                <div class="form-group modeSelector">
                    <label for="modeSelector">Choose the Mode:</label>
                    <select id="modeSelector" class="form-control" data-ng-model="selectedMode" required>
                        <option ng-repeat="aceMode in aceModes" value="{{aceMode.mode}}">{{aceMode.name}}</option>
                    </select>
                </div>
                <form class="form-horizontal groupsForm" ng-submit="createGroup()">
                    <div class="form-group">
                        <div class="col-xs-10">
                            <input type="text" class="form-control" placeholder="Group Name" ng-model="newGroupName" id="new-groupname-input">
                        </div>
                        <div class="col-xs-2" style="padding-left: 0">
                            <button type="submit" class="btn btn-success btn-block">Create</button>
                        </div>
                    </div>

                </form>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="group in groups | orderByPriority">
                        <a id="{{group.$id}}" href="#/start/{{group.fullName}}" class="groupItem">
                            <span>{{group.name}}</span>
                            <span class="pull-right">{{group.mode}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>